<li class="active">
    <a href="/"><i class="icon fas fa-home"></i> Home</a>
</li>
<li class="active">
    <a href="/"><i class="icon fas fa-home"></i> Users</a>
</li>
<li class="active">
    <a href="/"><i class="icon fas fa-home"></i> Groups</a>
</li>
<li class="active">
    <a href="/"><i class="icon fas fa-home"></i> Courses</a>
</li>