<li>
    <a href="../"><span><i class="icon fas fa-home"></i></span> Home</a>
</li>
<li>
    <a href="#usersSubmenu" data-toggle="collapse" aria-expanded="false"
        class="dropdown-toggle sidebar-dropdown-toggle"><span><i class="fas fa-users"></i></span> User Accounts</a>
    <ul class="collapse list-unstyled" id="usersSubmenu">
        <li>
            <a href="../users/students">Students</a>
        </li>
        <li>
            <a href="../users/teachers">Teachers</a>
        </li>
        <li>
            <a href="../users/admins">Administrators</a>
        </li>
    </ul>
</li>