<!-- Copyright -->
<div id="bottom" class="footer footer-copyright text-center py-3">© Copyright
</div>
<script>
    var currentYear = (new Date).getFullYear();
    $(".footer").append(currentYear)
</script>
<!-- Copyright -->