{{#each notifications}}
<a class="dropdown-item dropdown-item_" href="{{this.target}}">
    <i class="fas fa-{{this.type}}"></i> {{this.text}}</a>
{{/each}}
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#dsadsa" style="text-align: center; font-weight: bold;">See all</a>