<li class="active">
    <a href="/"><i class="icon fas fa-home"></i> Home</a>
</li>
<li>
    <a href="#subjectsSubmenu" data-toggle="collapse" aria-expanded="false"
        class="dropdown-toggle sidebar-dropdown-toggle"><i class="icon fas fa-book"></i> Groups</a>
    <ul class="collapse list-unstyled" id="subjectsSubmenu">
        <li>
            <a href="#">Submenu 1</a>
        </li>
        <li>
            <a href="#">Submenu 2</a>
        </li>
        <li>
            <a href="#">Submenu 3</a>
        </li>
    </ul>
</li>