<div class="loginBox">
    <img class="logo" src="images/cfbc_logo_small.png">
    <h1>Recover Password</h1>
    <p>Enter your email address to receive instructions to reset the password.</p>
    <div class="loginForm">
        <form action="/forgotPassword" method="POST" enctype="application/x-www-form-urlencoded">
            {{#if confirm}}
            <div class="alert alert-success" role="alert">
                An email has been sent to you!
            </div>
            {{/if}}
            <div class="form-group">
                <input type="email" class="form-control form-control-lg" name="email" placeholder="Email" id="email">
                <div class="invalid-feedback" id="emailFb">
                    {{#if pageErrors.email}}
                    <script>
                        $("#email").addClass("is-invalid");
                    </script>
                    {{pageErrors.email}}
                    {{/if}}
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Recover Password</button>
            <p><a href="../">Go to Home</a></p>
        </form>
    </div>
</div>