<div class="loginBox">
    <img class="logo" src="images/cfbc_logo_small.png">
    <h1>Center of Excellence in Economics and Finance</h1>

    <div class="loginForm">
        <form>
            <div class="form-group">
                <input type="email" class="form-control form-control-lg" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
            <a href="/login/forgot">Forgot Password?</a>
        </form>
    </div>
</div>