<link rel="stylesheet" href="../css/chat.css">

<body>
    <div class="chatPage">
        <div class="chatArea">
            <ul class="messages"></ul>
            <div class="activeUsers">
                <h4>Active Users (<span id="usersNum"></span>)</h2>
                    <ul class="usersList">

                    </ul>
            </div>
            <input class="inputMessage" placeholder="Type here..." />

        </div>


    </div>
    </div>





    <script src="../socket.io/socket.io.js"></script>
    <script src="../js/chat.js"></script>
</body>