@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background: #fafafa;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.btn-custom {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
}

/* ---------------------------------------------------
    ASSIGNMENT VIEW STYLE
----------------------------------------------------- */
.descriptionContainer {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #ced4da;
}
.description {
  margin: 1rem; 
}


.attachment {  
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  margin: auto;
  height: 3em;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #ced4da;
  background-color: #ffffff;
}
.attachment:hover {
  background-color: #c9ced3;
  transition: background-color 300ms;
}
.fileicon {
  font-size: 2em;
  margin: 10px;
  padding: 10px;

}
.filename{
  display: block;
  max-width: 30vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: center;

}
.remove {
  margin-left: auto; 
  padding-right: 5px;
  align-self: flex-start;
  cursor: pointer;
}
}
/* ---------------------------------------------------
    Assignment CARD STYLE
----------------------------------------------------- */
.bg-secondary {
  background-color: #cbd2d8;
}

.assignmentCard p {
  font-size: 0.8rem;
}
.assignmentCard .btn {
  width: 90%;
}

.assignment{
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid;
  border-radius: 0.25rem;
}
.assignment:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}
.assignment:active {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}
.assignment-unsubmitted{
  border-color: rgba(0, 0, 0, 0.125);
  background-color: #6c757d;
}
.assignment-submitted{
  border-color: rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
}
.assignment-feedback{
  border-color: rgba(0, 0, 0, 0.125);
  background-color: #28a745;
}
.assignment-overdue{
  border-color: rgba(0, 0, 0, 0.125);
  background-color: #ffc107;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #337598;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #337598;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #337598;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #ffffff;
  background: #0000001e;
}

a[data-toggle="collapse"] {
  position: relative;
}
.icon {
  width: 1.5em;
}

.sidebar-dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

ul ul a {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #337598;
}
ul ul ul a {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em !important;
  padding-left: 60px !important;
  background: #337598;
}
.nav-item {
  text-align: right;
  padding-right: 5%;
}

#sidebarCollapse {
  display: none;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 1000000;
}

#sidebarCollapse2 {
  font-size: 1.5rem;
  display: none;
  position: absolute;
  right: 2%;
  top: 2%;
}
.closeButton {
  background: none;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  border: none;
}
.navbar a[aria-expanded="true"] {
  background: none;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#right {
  width: calc(100% - 250px);
  padding: 0px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content {
  padding: 40px;
  padding-top: 0px;
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    position: relative;
    z-index: 10000;
  }
  #sidebar.active {
    margin-left: 0;
    width: 100%;
    position: relative;
  }
  #right {
    width: 100%;
    transition: all 0.3s;
  }
  #right.active {
    margin-right: calc(100%);
    transition: all 0.3s;
  }
  #sidebarCollapse {
    display: initial;
  }
  #sidebarCollapse2 {
    display: initial;
  }

  .dropdown-item {
    white-space: normal;
  }
}
